version: "3.8"
services:
  postgres:
    image: "postgres"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres-default
    ports:
      - "6432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
